<div class="container">
    <form id="contact" name="contact" action="{{ site.baseurl }}contact/success" data-netlify-recaptcha="true" data-netlify="true">
          <fieldset><input name="MERGE1" placeholder="Your first name" type="text" required></fieldset>
          <fieldset><input name="MERGE0" placeholder="Your email address" type="email" required></fieldset>
          <fieldset><textarea name="MERGE5" placeholder="Type your message here...." required></textarea></fieldset>
          <fieldset><div data-netlify-recaptcha="true"></div></fieldset>
          <fieldset><button name="submit" type="submit" id="contact-submit" data-netlify-recaptcha="true">Submit</button></fieldset>
    </form>
</div>