<ul class="nav" role="menu">
    <li class="#" role="menuitem"><a href="{{ site.baseurl }}">Home</a></li>
    <li class="#" role="menuitem"><a href="{{ site.baseurl }}tag/chicken/">Chicken</a></li>
    <li class="#" role="menuitem"><a href="{{ site.baseurl }}tag/pizza/">Pizza</a></li>
    <li class="#" role="menuitem"><a href="{{ site.baseurl }}tag/pasta/">Pasta</a></li>
    <li class="#" role="menuitem"><a href="{{ site.baseurl }}tag/salad/">Salad</a></li>
    <li class="#" role="menuitem"><a href="{{ site.baseurl }}tag/cake/">Cake</a></li>
</ul>
 